<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
    	<link rel="stylesheet" href="../../login/static/css/admin.css"/>
        <link rel="stylesheet" href="../../login/static/css/amazeui.datatables.min.css">
        <link rel="stylesheet" href="../../login/static/css/amazeui.min.css">
        <link rel="stylesheet" href="../../login/static/css/app.css">
        <script src="../../login/static/js/amazeui.min.js"></script>
        <script src="../../login/static/js/app.js"></script>
        <script src="../../login/static/js/jquery.min.js"></script>
        


<!--{% extends 'base.html' %}

{% block title %}案件批捕审核{% endblock %}

{% block content %}-->
    </head>
    <body class="am-scrollable-vertical">
        <div class="col-md-12 am-u-md-12">
            <h1><!--{{ doc.name }}--></h1>
        <hr>
            <form class="am-form" method="post" action="">
                <fieldset>
                    <legend>犯罪嫌疑人基本信息</legend>
                        <!--{% csrf_token %}-->
                        <ul class="am-avg-sm-3 am-thumbnails">
                        	 <li>
                            	<div class="am-g">
                                    <div class="am-panel am-panel-primary">
                                        <div class="am-panel-hd">
                                            <h3 class="am-panel-title">自身情况</h3>
                                        </div>
                                        <ul class="am-list am-list-static">
                                            <li>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="10" onclick="addCount(this)"> 未成年人
                                                </label>
                                            </li>
                                            <li>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="10" onclick="addCount(this)"> 六十五岁老人
                                                </label>
                                            </li>
                                            <li>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="10" onclick="addCount(this)"> 盲人
                                                </label>
                                            </li>
                                            <li>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="5" onclick="addCount(this)"> 聋哑人或者其他残疾人
                                                </label>
                                            </li>
                                            <li>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="10" onclick="addCount(this)"> 限制刑事责任能力的精神病人
                                                </label>
                                            </li>
                                        </ul>
                                    </div> 
                                </div>
                                <div class="am-g">
                                 	<div class="am-panel am-panel-primary">
                                        <div class="am-panel-hd">
                                            <h3 class="am-panel-title">社会背景情况</h3>
                                        </div>
                                        <ul class="am-list am-list-static">
                                            <li>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="10" onclick="addCount(this)"> 在校学生
                                                </label>
                                            </li>
                                            <li>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="3" onclick="addCount(this)"> 在本地长期有固定住处
                                                </label>
                                            </li>
                                            <li>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="5" onclick="addCount(this)"> 有稳定职业、收入
                                                </label>
                                            </li>
                                            <li>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="-3" onclick="addCount(this)"> 在本地无固定住处
                                                </label>
                                            </li>
                                            <li> 
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="-20" onclick="addCount(this)"> 不能提供保证人或者缴纳保证金
                                                </label>
                                            </li>
                                            <li>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="-20" onclick="addCount(this)"> 无稳定职业，流窜作案
                                                </label>
                                            </li>
                                            <li>
                                                <label class="am-checkbox-inline">
                                                    <input type="checkbox" value="-20" onclick="addCount(this)"> 未成年人不具备监护帮教条件
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </li>
                        	<li>
                              <div class="am-panel am-panel-secondary">
                            <div class="am-panel-hd">
                                <h3 class="am-panel-title">盗窃罪</h3>
                            </div>
                            <ul class="am-list am-list-static">
                                <li>
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="10" onclick="addCount(this)"> 盗窃家庭成员或近亲属财务
                                    </label>
                                </li>
                                <li>
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="3" onclick="addCount(this)"> 却因生活学习治病急需而盗窃
                                    </label>
                                </li>
                                <li>
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="5" onclick="addCount(this)"> 赃款赃物已返还或者被公安机关扣押
                                    </label>
                                </li>
                                <li>
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="5" onclick="addCount(this)"> 被害人明确表示谅解
                                    </label>
                                </li>
                                <li> 
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="5" onclick="addCount(this)"> 入户盗窃 携带凶器盗窃  扒窃一次且数额在500元以下
                                    </label>
                                </li>
                                <li>
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="-5" onclick="addCount(this)"> 入户盗窃 携带凶器盗窃  扒窃一次且数额在1000元以下
                                    </label>
                                </li>
                                <li>
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="-5" onclick="addCount(this)"> 盗窃财务数额10000元以上
                                    </label>
                                </li>
                                <li>
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="-5" onclick="addCount(this)"> 以破坏性手段盗窃造成公司财产损失
                                    </label>
                                </li>
                                <li>
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="-10" onclick="addCount(this)"> 盗窃残疾人 孤寡老人 未成年人或者用于紧急治病的款物
                                    </label>
                                </li>
                                <li>
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="-20" onclick="addCount(this)"> 盗窃用于救灾 抢险 防汛 扶贫 移民 救济等款物
                                    </label>
                                </li>
                                <li>
                                    <label class="am-checkbox-inline">
                                        <input type="checkbox" value="-20" onclick="addCount(this)"> 为实施吸毒 赌博等其他违法犯罪活动而盗窃
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </li>
                         
                        	
                        	<li>
                                <div class="am-panel am-panel-primary">
                                    <div class="am-panel-hd">
                                        <h3 class="am-panel-title">案件情况</h3>
                                    </div>
                                    <ul class="am-list am-list-static">
                                        <li>
                                        	<label class="am-checkbox-inline">
                                                <input type="checkbox" value="10" onclick="addCount(this)">犯罪预备
                                            </label>
                                        </li>
                                        <li>
                                            <label class="am-checkbox-inline">
                                                <input type="checkbox" value="5" onclick="addCount(this)">犯罪未遂
                                            </label>
                                        </li>
                                        <li>
                                            <label class="am-checkbox-inline">
                                                <input type="checkbox" value="10" onclick="addCount(this)"> 犯罪中止
                                            </label>
                                        </li>
                                        <li>
                                            <label class="am-checkbox-inline">
                                                <input type="checkbox" value="3" onclick="addCount(this)"> 防卫过当或者避险过当
                                            </label>
                                        </li>
                                        <li> 
                                            <label class="am-checkbox-inline">
                                                <input type="checkbox" value="5" onclick="addCount(this)"> 初犯
                                            </label>
                                        </li>
                                        <li>
                                            <label class="am-checkbox-inline">
                                                <input type="checkbox" value="3" onclick="addCount(this)"> 从犯或者协同犯
                                            </label>
                                        </li>
                                        <li> 
                                            <label class="am-checkbox-inline">
                                                <input type="checkbox" value="5" onclick="addCount(this)"> 自首
                                            </label>
                                        </li>
                                        <li>
                                            <label class="am-checkbox-inline">
                                                <input type="checkbox" value="5" onclick="addCount(this)"> 有立功表现
                                            </label>
                                        </li>
                                        <li>
                                            <label class="am-checkbox-inline">
                                                <input type="checkbox" value="3" onclick="addCount(this)"> 主观上有悔罪认识
                                            </label>
                                        </li>
                                        <li>
                                            <label class="am-checkbox-inline">
                                                <input type="checkbox" value="-5" onclick="addCount(this)"> 有预谋的实施犯罪
                                            </label>
                                        </li> 
                                    </ul>
                                </div>
                            </li>
                            
                           
                             
                        </ul>
                        <div class="am-form-group">
                               <hr>
                            <strong>分值：</strong><span id="count" name="count" class="am-badge am-badge-danger am-text-default">0</span>
                            <hr>
                        </div>
                        <input type="hidden" name="score" id="score" value="0">
                        <ul class="am-avg-sm-4 am-thumbnails">
                            <li><a type="button" class="am-btn am-btn-primary am-btn-block" href="{% url 'pibu_step2' doc.id %}">使用此结果／下一步</a></li>
                            <li><a type="button" class="am-btn am-btn-secondary am-btn-block" href="{% url 'pibu_step2' doc.id %}">不使用此结果</a></li>
                            <li><a type="button" class="am-btn am-btn-success am-btn-block" href="{% url 'pibu_step2' doc.id %}">证据充分／下一步</a></li>
                            <li><a type="button" class="am-btn am-btn-default am-btn-block" href="{% url 'pibu_step2' doc.id %}">证据不充分／存疑</a></li>
                        </ul>
                    </fieldset>
                </form>
            </div>
        </body>
        <script>
        function addCount(obj) {
            count = document.getElementById("count");
        score = document.getElementById("score");

        if (obj.checked==true) {
            count.innerText = parseInt(count.innerText) + parseInt(obj.value);
            score.value = parseInt(score.value) + parseInt(obj.value);
        } else {
            obj.checked==false
            count.innerText = parseInt(count.innerText) - parseInt(obj.value);
            score.value = parseInt(score.value) - parseInt(obj.value);
        }


        if (parseInt(count.innerText) > 50) {
            count.className = "am-badge am-badge-success am-text-default"
        } else {
            count.className = "am-badge am-badge-danger am-text-default"
        }
    }
    </script>
<!--{% endblock %}-->
    </html>